layout {

    focus-ring {
        active-color   "#ff4d6a"
        inactive-color "#291418"
        urgent-color   "#ff2d50"
    }

    border {
        active-color   "#ff4d6a"
        inactive-color "#291418"
        urgent-color   "#ff2d50"
    }

    shadow {
        color "#29141870"
    }

    tab-indicator {
        active-color   "#ff4d6a"
        inactive-color "#9a0019"
        urgent-color   "#ff2d50"
    }

    insert-hint {
        color "#ff4d6a80"
    }
}

recent-windows {
    highlight {
        active-color "#ff4d6a"
        urgent-color "#ff2d50"
    }
}
