layout {

    focus-ring {
        active-color   "#63abe9"
        inactive-color "#082036"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#63abe9"
        inactive-color "#082036"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#08203670"
    }

    tab-indicator {
        active-color   "#63abe9"
        inactive-color "#075292"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#63abe980"
    }
}

recent-windows {
    highlight {
        active-color "#63abe9"
        urgent-color "#fd4663"
    }
}
