layout {

    focus-ring {
        active-color   "#9eaeac"
        inactive-color "#1c2121"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#9eaeac"
        inactive-color "#1c2121"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c212170"
    }

    tab-indicator {
        active-color   "#9eaeac"
        inactive-color "#425755"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#9eaeac80"
    }
}

recent-windows {
    highlight {
        active-color "#9eaeac"
        urgent-color "#fd4663"
    }
}
