@import "mywaybar.css";

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo", "MesloLGS Nerd Font Propo";
}

tooltip {
    background-color: @bg4;
    color: @fg;
    /* margin: 10px; */
    /* padding: 10px; */
    border-radius: 12px;
}

.modules-center {
    background-color: @bg0;
    color: @fg;
    padding: 2px 12px;
    border-radius: 99px;
    box-shadow: 0 0 1;
}

#clock {
    font-weight: 600;
}

#workspaces {
    background-color: @bg3;
    margin: 2px 0;
    padding: 2px 4px;
    border-radius: 99px;
}

#workspaces button {
    background-color: @bg4;
    padding: 2px 4px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 200ms ease-in-out;
    min-width: 20px;
}

#workspaces buttom.empty {
    color: @grey0;
}

#workspaces button.active {
    background-color: @green;
    color: @bg1;
    min-width: 1.5rem;
    font-weight: bold;
    transition: none;
}

#bluetooth {
    color: @blue;
}

