@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    margin: 0;
}

window#waybar {
    background: @background;
    color: @secondary;
    font-size: 12px;
}

#workspaces button {
    margin: 3px;
    padding: 2px 8px;
    border-radius: 16px;
    background: @background;
    color: @on_surface;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#workspaces button.active {
    background: @primary;
    color: @background;
}

#clock,
#pulseaudio,
#network,
#tray {
    padding: 4px 8px;
    margin: 3px;
    border-radius: 8px;
    background: @background;
    color: @primary;
}

#tray>.item {
    margin: 0 2px;
}

#tray>.item:hover {
    background: rgba(255, 255, 255, 0.12);
    color: @tertiary;
}
