@import "mycolors.css";

* {
    all: unset;
    font-family: "FiraCode Nerd Font Propo", "MesloLGS Nerd Font Propo";
    font-size: 16px;
    margin-top: -1px;
    margin-bottom: -1px;
}

#waybar {
    /* background-color: @base; */
    background-color: transparent;
    box-shadow: 0 0 1;
}

tooltip {
    background-color: @crust;
    color: @subtext1;
    border-radius: 12px;
    border-color: @mantle;
}

.modules-center {

}

.modules-left {

}

.modules-right {

}

#clock {
    font-weight: 400;
    color: @text;
}

#pulseaudio {
    color: @teal;
}

#network {
    color: @orange;
    padding: 2px;
}

#workspaces {
    /* background-color: @bg0; */
    margin: 2px 0;
    padding: 2px 4px;
    border-radius: 99px;
}

#workspaces button {
    /* background-color: @bg0; */
    padding: 1px;
    border-radius: 2px;
    margin: 0 2px;
    /* transition: all 200ms ease-in-out; */
    min-width: 20px;
}

#workspaces buttom.empty {
    color: @sky;
}

#workspaces button.active {
    background-color: @yellow;
    color: @bg0;
    min-width: 1.5rem;
    font-weight: bold;
    transition: none;
    border-radius: 99px;
}

#window {
    background-color: transparent;
    padding-left: 4px;
}

#bluetooth {
    color: @blue;
}

#cpu {
    color: #ffffff;
}

#memory {
    color: #ffffff;
}

